apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hotrod
    component: driver
  name: driver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hotrod
      component: driver
  template:
    metadata:
      labels:
        app: hotrod
        component: driver
    spec:
      containers:
        - name: hotrod
          args:
            - driver
            - --verbose
          env:
            - name: SIGNADOT_BASELINE_KIND
              value: Deployment
            - name: SIGNADOT_BASELINE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SIGNADOT_BASELINE_NAME
              value: "driver"
            - name: SIGNADOT_ROUTESERVER
              value: routeserver.signadot.svc:7777
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://jaeger:4318"
          image: signadot/hotrod:latest
          imagePullPolicy: Always
          readinessProbe:
            tcpSocket:
              port: 8082
            initialDelaySeconds: 3
            periodSeconds: 3
      restartPolicy: Always
