apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- mysql
- redis
- kafka
- frontend.yaml
- location.yaml
- driver.yaml
- route.yaml

images:
- name: signadot/hotrod
  newTag: quickstart-v3-fix
